:root {
    --color-1: #F5F5F5;
    --color-2: #97E7E1;
    --color-3: #6AD4DD;
    --color-4: #7AA2E3;
    --color-5: rgb(200, 200, 200);
    --color-6: #000000;
}

*,
*::after,
*::before {
    background: transparent;
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

body {
    background-color: var(--color-1);
}

button {
    background: var(--color-4);
    border-radius: 999px;
    box-shadow: var(--color-4) 0 10px 20px -10px;
    color: var(--color-6);
    font-size: 1rem;
    font-weight: 1000;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 9px 18px;
    border: 0;
}


button:hover {
    scale: 1.1;
    transform: translateY(-5px);
    transition: transform 1s ease-in-out;
    transition: scale 0.5s ease-in-out;
}

a {
    text-decoration: none;
    color: var(--color-6);
}


.logo {
    position: relative;
    margin-top: 50px;
    order: 1;
    text-align: center;
    font-size: 1.5rem;
}

.logo b {
    font-size: 3rem;
}

.table{
    position: relative;
    border-collapse: collapse;
    margin: 50px 100px ;
    padding: 50px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 1px solid var(--color-6);
    background-color: var(--color-3);
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 1000;
}

td {
    background-color: transparent;
    padding: 10px;
    text-align: center;

}


.button-releases-group {
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-releases {
    margin-right: 50px;
  background-color: var(--color-3);
  border: 0;
  border-radius: 56px;
  color: var(--color-1);
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  touch-action: manipulation;
}

.button-releases:before {
  background-color: initial;
  background-image: linear-gradient(var(--color-1) 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-releases:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}



/* release html  */
#news {
    position: absolute;
    top: 45%;
    left: 10%;
    width: 70%;
    height: auto;
    padding: 50px;
    text-align: justify;
    font-size: 1rem;
    border: 2px solid var(--color-5);
    box-shadow: 0 5px 10px 0 var(--color-5);
}

#news-header{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 1000;
}

#news-content{
    padding-left: 50px;
}



/* Annual meet  */
.annual_meet > img{
    position: relative;
    margin-top: 0px;
    width: 60%;
    left: -250px;
    height: auto;
    aspect-ratio: 2;
    z-index: 10;
}

.annual_meet p, a{
    z-index: 100;
    position: relative;
    margin-top: 50px;
    left: 2%;
    font-size: 2rem;
}

.annual_meet a{
    margin-top: 0px;
    left: 60%;
}

@media screen and (max-width: 768px) {

}